*{
    margin: 0;
    padding: 0;
}

body {
    gap:30px;
    display: grid;
    place-content: center;
    background: #151022;
    overflow-x: hidden;

}
      #fullButton {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #151022;
        color: white;
        font-size: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 9999;
        cursor: pointer;
       
      }
      #fullButton div{
        border-radius: 20px;
        border: white solid 1px;
        width: 200px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
      }
      #fullButton div:hover{
       
        background-color: white;
        color: black;

      }
  
      #conteudo {
        display: none;
        padding: 20px;
        text-align: center;
        z-index: 1;
        position: relative;
        gap:30px;

      }
  
      .heart {
        position: fixed;
        top: -50px;
        color: #ff69b4;
        font-size: 24px;
        animation: fall 4s linear forwards;
        pointer-events: none;
        z-index: 9998;
      }
  
      @keyframes fall {
        0% {
          transform: translateY(0) rotate(0deg);
          opacity: 1;
        }
        100% {
          transform: translateY(100vh) rotate(360deg);
          opacity: 0;
        }
      }
        div.wrap-linha{
    width: 100%;
    height: 10px;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
        margin: 20px 0px 20px 0px;
  }
  div.wrap-linha div.linha{
    width: 90%;
    height: 2px;
    background-color: rgb(75, 84, 219);
    border-radius: 10px;
  }
  section.frame{
    width: 100%;
    justify-content: center;
    display: flex;
    z-index: 1;
  }
  iframe{
    border-radius:12px;
    margin-top: 50px;
    height: 80px;
  }
  .espacofoto{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .carousel-wrapper {
    width: 400px;
    height: 520px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 0px rgba(46, 61, 73, 0.2);
    border-radius: 20px;
    margin: 0px auto 0px;
    background-color: #151022;
    z-index: 1;
  }
  
  .carousel-container {
    width: 320px;
    height: 450px;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 10px;
  }
  
  .carousel {
    display: flex;
    width: 1200px;
    animation: sliding 12s infinite;
  }
  .carousel div {
    width: 400px;
    height: 450px;
    background-size: cover;
    background-position: center;
  }
  .carousel:hover {
    animation-play-state: paused;
  }
  .carousel .image-one {
    background-image: url("/fotos/WhatsApp\ Image\ 2025-06-10\ at\ 22.25.11.jpeg");
  }
  .carousel .image-two {
    background-image: url("/fotos/WhatsApp\ Image\ 2025-06-10\ at\ 22.23.13.jpeg");
  }
  .carousel .image-three {
    background-image: url("/fotos/WhatsApp\ Image\ 2025-06-10\ at\ 22.24.47\ \(2\).jpeg");
  }
  
  @keyframes sliding {
    30% {
      transform: translateX(0);
    }
    35% {
      transform: translateX(-400px);
    }
    65% {
      transform: translateX(-400px);
    }
    70% {
      transform: translateX(-800px);
    }
    98% {
      transform: translateX(-800px);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  header.barra-auto{
    width: 100%;
    height: 30px;
    display: flex;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    background-color: black;
    font-family:'Courier New', Courier, monospace;
    margin-top: 150px;
  }
   
  div.linhatexto{
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    z-index: 1;
  }
  div.linhatexto h2{
    color: white;
    font-family: Arial, sans-serif;
  }
  .espaco{
   width: 100%;
   justify-content: center;
   display: flex;
   align-items: center;
   text-align: center;
  }
 div.contador{
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
    position: relative;
    z-index: 2;
  }
  section.wrapper-contect{
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    gap: 20px;
    min-height: 200px;
  }
 div.linha-lateral{
    width: 10px;
    height: 100%;
    background-color: aliceblue;
    border-radius: 10px;
    z-index: 9;
  }
  div.wrap-mens{
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    

  }
  div.wrap-mens h2{
    margin-bottom: 10px;
  }
  div.fotos1{
    width: 180px;
    background-color: aliceblue;
    height: 240px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 0px;
    z-index: 0;
  }
  div.moldura img{
    width: 170px;
    height: 190px;
    padding: 5px;
    background-size: cover;
  }
  @media screen and (max-width: 768px) {
    iframe{
    width:70%;
    }
    
     div.wrap-linha div .linha{
    width: 70%;
    height: 2px;
    background-color: rgb(75, 84, 219);
    border-radius: 10px;
    z-index: 1;
  }
    .carousel-wrapper {
      width: 312px;
      height: 450px;
      z-index: 10;
    }
  
    .carousel-container {
      width: 240px;
      height: 400px;
      z-index: 10;
    }
  
    .carousel {
      width: 720px;
      z-index: 10;
    }
    .carousel > div {
      width: 240px;
      height: 400px;
    }
    @keyframes sliding {
      30% {
        transform: translateX(0);
      }
      35% {
        transform: translateX(-240px);
      }
      65% {
        transform: translateX(-240px);
      }
      70% {
        transform: translateX(-480px);
      }
      98% {
        transform: translateX(-480px);
      }
      100% {
        transform: translateX(0);
      }
      
    }
    div.linha-lateral{
      width: 30px;
      height: 100%;
      background-color: aliceblue;
      border-radius: 10px;
    }
    div.fotos1{
      width: 180px;
      background-color: aliceblue;
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 10vh;  /* ajuste conforme necessário */
      left: -5%;
      transform: rotate(13deg);
    }
    div.fotos2{
      width: 180px;
      background-color: aliceblue;
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 40vh;  /* ajuste conforme necessário */
      left: 75%;
      transform: rotate(350deg);
  background-size: cover;
    }
    div.fotos3{
      width: 180px;
      background-color: rgb(185, 187, 189);
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 90vh;  /* ajuste conforme necessário */
      left: -5%;
      transform: rotate(13deg);
    }
    div.fotos4{
      width: 180px;
      background-color: aliceblue;
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 140vh;  /* ajuste conforme necessário */
      left: 80%;
      transform: rotate(350deg);
    }
    div.fotos5{
      width: 180px;
      background-color: aliceblue;
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 190vh;  /* ajuste conforme necessário */
      left: -8%;
      transform: rotate(13deg);
    }
    div.fotos6{
      width: 180px;
      background-color: aliceblue;
      height: 240px;
      position: absolute;
      display: flex;
      justify-content: center;
      padding: 0px;
      z-index: -1 ;
      top: 230vh;  /* ajuste conforme necessário */
  left: 80%;
  transform: rotate(350deg);

    }
    div.moldura img{
      width: 170px;
      height: 190px;
      padding: 5px;
      background-size: contain;
    }
    section.wrapper-contect{
      margin-bottom: 30px;
      display: flex;
      flex-direction: row;
      margin-left: 50px;
      margin-right: 50px;
      gap: 20px;
      height: 700px;
      
    }

    section.wrapper-contect div.wrap-mens{
      height: 100%;
      overflow: auto;
      background: #151022af;
    }
    #fullButton {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background: #151022;
      color: white;
      font-size: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;
      border: none;
    }

    #conteudo {
      position: relative;
      z-index:1;
      gap:30px;
    }

    .heart {
      position: fixed;
      top: -50px;
      color: #ff69b4;
      font-size: 24px;
      animation: fall 4s linear forwards;
      pointer-events: none;
    }

    @keyframes fall {
      0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
      }
      100% {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
      }
    }
    .espaco{
      width: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
      text-align: center;
     }
    div.contador{
       color: white;
       font-family: Arial, sans-serif;
       text-align: center;
       font-size: 18px;
       font-style: italic;
       font-weight: bold;
       z-index: 2;
       position:relative;
     }
     ::-webkit-scrollbar{
       background: #241c3a;;
       width:8px;
       height:8px;
     }
     ::-webkit-scrollbar-thumb{
      background:rgb(161, 16, 16);
      border-radius: 12px;
     }

  }